.custom-select-current-selected {
  background-color: #fff;
  border: 1px solid #999;
  cursor: pointer;
  padding: 5px;

  &[data-opened="false"] {
    border-radius: 4px;
  }

  &[data-opened="true"] {
    border-radius: 4px 4px 0 0;
  }
}

.custom-select-search-text-input {
  border: 0;
  outline: none;
  padding: 0;
}

.custom-select-options-container {
  background-color: #fff;
  border: 1px solid #999;
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  z-index: 99999;

  .custom-select-option {
    padding: 4px 8px;
    color: #000;

    &[data-selected="true"] {
      background-color: #80b2ff;
    }

    &:hover {
      background-color: steelblue;
    }
  }
}
