.haya-select {
  .haya-select-current-selected {
    display: flex;
    background-color: #fff;
    border: 1px solid #999;
    cursor: pointer;
    padding: 5px;

    &[data-opened="false"] {
      border-radius: 4px;
    }

    &[data-opened="true"] {
      border-radius: 4px 4px 0 0;
    }

    .current-option + .current-option {
      margin-left: 6px;
    }
  }
}

.haya-select-search-text-input {
  border: 0;
  outline: none;
  padding: 0;
}

.haya-select-options-container {
  background-color: #fff;
  border: 1px solid #999;
  max-height: 300px;
  overflow-y: auto;
  position: absolute;
  z-index: 99999;

  .haya-select-option {
    padding: 4px 8px;
    color: #000;

    &[data-selected="true"] {
      background-color: #80b2ff;
    }

    &:hover {
      background-color: steelblue;
    }
  }

  .haya-select--option-group {
    padding: 4px 8px;
    color: #000;
    font-weight: bold;
  }
}
